<!DOCTYPE html>
<html>
<head>
  <title>Hyku schema yaml</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "hyku/schema/yaml/application", media: "all" %>
  <%= javascript_include_tag "hyku/schema/yaml/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
